<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="/assets/images/close.svg" alt="Закрыть">
        </button>

        <form action="/" method="post" class="form">
            <div class="form__group">
                <input type="text" class="form__control form__control--mb" placeholder="Ваше имя" value="Дмитрий Валак">
            </div>
            <div class="form__group">
                <input type="email" class="form__control form__control--mb" placeholder="Ваш email">
            </div>
            <div class="form__group">
                <textarea name="message-text" class="form__control form__control--mb form__control--textarea" placeholder="Текст сообщения"></textarea>
            </div>
            <div class="form__group">
                <button class="btn btn--blue btn--rounded btn--sm">Отправить</button>
            </div>
        </form>
        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:mateyzhilenko@gmail.com">info@mywebsite.ru</a>
            </li>
            <li>
                tel: <a href="tel:+79190320131">+943-232-856-22</a>
            </li>
        </ul>
    </div><!--/modal__content-->
</div>